body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin: 20px;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

figure {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 70%;
    align: center;
}

figcaption {
    text-align: center;
    color: #666;
    margin: 10px 0;
}