h1 {
    font-size: 36px;
    text-align:center;
}

.image-container {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center; /* Выравниваем изображение и текст по вертикали */
}

.image-container img {
    max-width: 60%;
    height: auto;
}

.image-description {
    flex: 1;
    padding: 10px;
    border-left: 2px solid #ccc;
    text-align: center;
}

.image-description p {
    font-weight: bold; /* Делаем текст жирным */
    font-size: 20px; /* Увеличиваем размер текста */
    margin: 10px 0; /* Добавляем отступы перед и после текста */
    align-items: left;
}